body{
    background: linear-gradient(to right, #E7CCCC, #EDE8DC);;
}

h1{
    margin-top: 155px;
    color: rgb(86, 61, 32);
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 70px;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.center{
    height: 350px;
    border-radius: 10px;
    margin-top: 10px;
}

#BtnYes input[type="button"] {
    background-color: #426b44; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px; 
}
#BtnYes input[type="button"]:hover {
    background-color: #2d4a2e; 
}
#BtnNo input[type="button"] {
    background-color: #86170f; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.content-container{
        width: 50%;
        margin-top: -45px;
        margin-left: 385px;
        height: 75vh;
        background-color: rgb(165, 182, 141, 0.3);
        border-radius: 25px;
}